[submodule "audioengine"]
	path = audioengine
	url = https://github.com/minervarr/audio_engine.git
[submodule "framework/app_shell"]
	path = framework/app_shell
	url = https://github.com/minervarr/App_shell.git
[submodule "framework/vk_canvas"]
	path = framework/vk_canvas
	url = https://github.com/minervarr/Vk_Canvas_Lb_LAW.git
